In [8]:
import pandas as pd

In [11]:
df_seniority = pd.DataFrame({
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
})

In [12]:
df = pd.DataFrame(df_seniority)

In [13]:
df

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3